@charset "UFT-8";

#eu_1{

    display: block;
    width: 10%;
    float: right;
    margin: 10px auto;
    padding: 10px;

}
#eu_2{

    display: block;
    width: 15%;
    float: right;
    margin: 7px auto; 
    padding: 10px; 

}
#eu{

    display: block;
    width: 15%;
    float: right;
    margin: 7px auto; 
    padding: 10px; 

}
img{        /* Mexendo nas imagens */

    max-width: 100%;
    height: auto;

}