@charset "UFT-8"; 

#series{

    display: block;
    width: 30%;
    margin: 7px auto;

 }   
 #lateral_series{
     display: block;
     width: 5%;
     float: right ;
     margin: 7px auto;
     padding: 20px;

 }
 
#lateral_series2{

    display: block;
    width: 5%;
    float: right;
    margin: 7px auto;
    padding: 10px;

}

#lateral_series3{
    display: block;
    width: 5%;
    float: right;
    margin: 7px auto;
    padding: 10px;
}
#series{

    width: 50%;
    margin: 10px auto;

}
#series p, #lateral_series1 p, #lateral_series2 p, #lateral_series3 p 
{
    text-align: justify;
    padding: 0px 15px;
}




 
 