@charset "UFT-8";

.videos1{

    width: 800px;
    height: 480px;
    margin: 20px auto;

}
.album_videos{

    list-style: none;
    margin: 0 auto;
    padding: 50px;

}
.album_videos li{

    display: block;
    float: left;
    margin: 3px;
    position: relative;

}
.album_videos iframe{

    width: 200px;
    height: 165px;
    padding: 5px;
    border: 1px solid rgb(128, 128, 209);
    background: #fff;

}
.video:hover{

    transform: scale(1.5);
    z-index: 5;

} 
h1{

    float: center;

}
p{

    float: center;

}