@charset "UFT-8";
body{
    background-color: rgb(107, 107, 107);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div#interface{  /* div  */
    background-color: rgb(107, 107, 107);
    max-width: 1000px; 
    width: 100%; /* Largura */
    margin: 8px auto 8px auto; /* Borda superior e Borda inferior - centralizando a interface*/
}
.topo{
    
    height: 90px;   /* Altura - 130px */
  
}
p{  /* Mexendo no P */

    text-align: justify;
    font-size: 1.2em;
    text-indent: 20px; /* Mexendo no paragrafo */
    color: rgb(252, 252, 255);
 
}
.menu{
     
    width: 1000px; /* Largura - 66.5%  */
    display: block  ;  /* Transformando em um bloco - desplay: block  */
    position: absolute; /* Carregando a caixinha */
    top: 100px; /* Mexendo no menu - 10%*/
    margin-left: 180px; /* Colocando a margem pro lado - 19.5% */ 
    z-index: 100; /* Arrumando o menu - colocando em cima das camadas. */
    
}
.menu ul{   /* Mexendo no UL  */

    text-decoration:  none;
    list-style: none;
    font-size: 1.1em;  /* 18px */
    margin: 1px; /* Mexendo na margin - sup direita inf esquerda */
    padding: 1px; /**/

}   
.menu li{ /* Mexendo no li */

    float: left; /* Colocado as li uma do lado da outra */

}

.menu li a{    /* Mexendo na ancora do li */

    text-decoration: none;
    color: rgb(87, 85, 85);
    background: rgb(198, 200, 201);
    padding: 4px 25px;
    margin: 0px;
    display: block;
}
.menu li a:hover{  /* Trocando a cor da ancora */

    background: rgb(56, 218, 247);
    color:rgb(247, 243, 243);  

}
.menu li ul{

    display: none;   
   font-size: 1.0em;
   
   }
   
   .menu li:hover ul{
   
   display: block;
   position: relative;
   
   }
   
   .menu li:hover li{  
   
   float: none; /* Quando passa o mouse */
   
   }
   #banner_filme{

    position: relative; 
    display: inline-block; /* Deixando em linha */
    width: 200%;
    height: 250px;
    margin: 0px;
    
}
    
#banner_filme img{
                        /* Posicionando os banners uma em cima da outra */
    position: absolute;
    
}

#banner1, #banner2:hover{

    position: absolute;
    opacity: 1; /* Opacidade 1 - mostrando a imagem 1 */
    transition-property: opacity; /**/
    transition-duration: 1s;   /* Tempo de transição */
    transition-timing-function: linear; /* ease, linear, ease-out aliviar-in-out, cubico bezier --  Tipo de transição */

}

#banner1:hover, #banner2{

    opacity: 0; /* Opacidade 2 - Moatrando a imagem 2 */

}
#banner_filme{

    position: relative; 
    display: inline-block; /* Deixando em linha */
    width: 100%;
    height: 250px;
    margin: 0px;
    
}
    
#banner_filme img{
/* Posicionando os banners uma em cima da outra */
    position: absolute;
    
}

#banner1, #banner2:hover{

    position: absolute;
    opacity: 1; /* Opacidade 1 - mostrando a imagem 1 */
    transition-property: opacity; /**/
    transition-duration: 1s;   /* Tempo de transição */
    transition-timing-function: linear; /* ease, linear, ease-out aliviar-in-out, cubico bezier --  Tipo de transição */

}

#banner1:hover, #banner2{

    opacity: 0; /* Opacidade 2 - Moatrando a imagem 2 */

}
img{        /* Mexendo nas imagens */

    max-width: 100%;
    height: auto;

}
#img_1{

    display: block;
    width: 30%;
    float: left;
    margin: 7px auto;
    padding: 10px;

}
#img_2{

    display: block;
    width: 30%;
    float: left;
    margin: 7px auto; 
    padding: 10px; 

}
h2{

    color: rgb(182, 178, 178);
    
}
.rodape{  /* Mexendo no rodape */
      
    clear: both; /* Tirando o p da divisão. */
    border-top: 2px solid rgb(225, 232, 236);

}

.rodape p{ /* Mexendo no p do rodape */

    text-align: center;
    font-size: 1.2em;

}


